@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@600&family=Nabla&display=swap');

/* :global(html),
:global(body)  */
html,
body {
	margin: 0;
	padding: 0;
	background-color: black;
	color: antiquewhite;
}

* {
	box-sizing: border-box;
	font-family: Merienda;
}

p {
	font-size: x-large;
}
