@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@600');
@import url('https://fonts.googleapis.com/css2?family=Nabla');
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sofia&effect=fire|neon');

html,
body {
	margin: 0;
	padding: 0;
	background-color: black;
	color: antiquewhite;
}

* {
	box-sizing: border-box;
	font-family: Merienda, Copperplate, Papyrus, fantasy;
}

p {
	font-size: x-large;
}
